<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eunice.mona.gwenwa" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GwenwaActivity"
            android:label="Gwenwa"
            android:parentActivityName=".HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eunice.mona.gwenwa.HomeActivity" />
        </activity>
        <activity
            android:name=".InformationActivity"
            android:label="@string/title_activity_information"
            android:parentActivityName=".GwenwaActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eunice.mona.gwenwa.GwenwaActivity" />
        </activity>
        <activity
            android:name=".MonitorGrowthActivity"
            android:label="@string/title_activity_monitor_growth"
            android:parentActivityName=".GwenwaActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eunice.mona.gwenwa.GwenwaActivity" />
        </activity>
        <activity
            android:name=".AccessDoctorActivity"
            android:label="@string/title_activity_access_doctor"
            android:parentActivityName=".GwenwaActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eunice.mona.gwenwa.GwenwaActivity" />
        </activity>
        <activity
            android:name=".ForumActivity"
            android:label="@string/title_activity_forum"
            android:parentActivityName=".GwenwaActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eunice.mona.gwenwa.GwenwaActivity" />
        </activity>
    </application>

</manifest>
